# Set the default behavior to normalize line endings to LF in the repository.
* text=auto eol=lf

# Explicitly declare text files that should always be normalized.
# Git will convert them to the native EOL of the OS (CRLF on Windows) in your working directory.
.editorconfig text
.gitignore text
.npmrc text
.prettierignore text
.prettierrc.yaml text
*.md text
*.ts text
*.tsx text
*.mjs text
*.js text
*.json text
*.html text
*.css text
*.yaml text
*.yml text
*.plist text

# Declare files that are binary and should never be modified.
*.png binary
*.ico binary
*.icns binary
