.marginTop16 {
  margin-top: 16px;
}

.marginTop24 {
  margin-top: 24px;
}

.promptLabel {
  display: block;
  margin-bottom: 8px;
}

.responsePre {
  border: solid 1px var(--ft-color-grey-2);
  background: var(--ft-color-lightest);
  color: var(--ft-color-darkest);
  padding: 16px;
  border-radius: 8px;
  white-space: pre-wrap;
  word-break: break-all;
}
